.container {
    background-color: #4bde95;
    position: absolute;
    width: 100%;
    height: 170px;

    .form-space {
        padding: 40px;

        .form {
            display: flex;
            flex-direction: column;

            .same-line {
                display: grid;
                justify-content: space-between;
                grid-template-columns: 50% 50%;

                .cvv {
                    padding-left: 12px;
                }
            }
        }

        .button-area {
            margin-top: 24px;
            display: flex;
            justify-content: center;

            .button {
                background-color: #308e5f;
                color: #fffafa;
            }
        }
    }
}

::ng-deep {
    .mat-form-field-underline {
        background-color: #c6c6c6 !important;
    }

    .mat-form-field.mat-focused .mat-form-field-ripple {
        background-color: #308e5f !important;
    }

    .mat-form-field-label,
    .mat-form-field-required-marker {
        color: #c6c6c6 !important;
    }

    .button-area .mat-raised-button.mat-button-disabled {
        background-color: #308e5f94 !important;
    }
}
